body {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #313338;
    user-select: none;
    animation: appear .25s;
}

footer {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    padding: 15px;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #00AD5F;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        border-radius: 10px;
    }
    100% {
        transform: translate(-50%, -50%) rotate(90deg);
        border-radius: 100px;
    }
}

@keyframes slide-cards {
    0% {
        transform: perspective(1000px) rotateY(120deg) rotateX(45deg);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

table {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: #ffffff;
    border: transparent;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding-block: 10px;
    text-align: center;
}

th, caption {
    background-color: #212529;
    font-weight: bold;
    color: #00AD5F;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #313338;
}

tr:nth-child(odd) {
    background-color: #313338;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #212529;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.code-block {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    max-height: 50vh;
    overflow-y: auto;
    margin-bottom: 50px;
    padding: 0;
    user-select: text;
}

.fixed-selection {
    z-index: 2;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    transform-origin: center;
    background-color: rgba(49, 51, 56, .9);
    padding: 40px;
    overflow-y: auto;
    animation: appear .5s;
}

.selection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

#file-lbl {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

#url {
    background: linear-gradient(to right, transparent, #212529);
    border-color: #6C757D;
    max-width: 600px;
}

#url:focus {
    box-shadow: 0 0 0 0.2rem rgb(16, 172, 132, 0.25);
}

#sbar {
    z-index: 0;
    margin-top: 50px;
    margin-inline: auto;
    max-width: 600px;
}

#loader {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    border-radius: 10px;
    background-color: rgba(49, 51, 56, .9);
}

#wheel-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #212529;
    border-radius: 10px;
    width: min(25vh, 25vw);
    height: min(25vh, 25vw);
    animation: rotate 1.5s ease-out alternate-reverse infinite;
}

#wheel {
    width: 100%;
}

#ask_selection {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

#select, #lang {
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#copy-btn {
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 40px;
}

#messagebox {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    width: 66%;
}

#lang {
    animation: slide-cards 1s cubic-bezier(.25,.1,.25,1);
}

.fixed-selection, #sbar, #messagebox, input[type="file"], #loader {
    display: none;
}