{% extends "base.html" %}

{% block title %}database converter{% endblock %}

{% block sources %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<link href="{{url_for('static', filename='futuristic-dark.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="alert alert-danger" role="alert" id="messagebox">
    <strong id="captionText"></strong> <span id="messagetext"></span>
    <div class="progress mx-auto" style="height: 5px; margin-top: 5px;">
        <div class="progress-bar" id="messagetimer" aria-valuemin="0" aria-valuemax="100" style="background: linear-gradient(90deg, #d53369 0%, #daae51 100%);"></div>
    </div>
</div>

<h1 class="mt-5 mb-4 text-center"> PyDB </h1>
<div class="container text-center" id="select-tools">
    <button type="button" class="btn btn-dark btn-lg m-1" title="Input format" id="select">
        <img>
        <span style="padding-inline: 15px;" id="lang1"></span>
    </button>
    <button type="button" class="btn btn-dark btn-lg m-1" onclick="reverse()" title="Reverse">
        <img src="{{ url_for('static', filename='rev_btn.svg') }}" alt="Reverse" draggable="false">
    </button>
    <button type="button" class="btn btn-dark btn-lg m-1" title="Output format" id="select">
        <img>
        <span style="padding-inline: 15px;" id="lang2"></span>
    </button>
</div>
<div class="container text-center" id="sbar">
    <div class="input-group mx-auto">
        <input type="text" class="form-control text-light" id="url" aria-describedby="basic-addon3" placeholder="URL here">
        <button class="btn btn-outline-secondary" onclick="validateURL()" style="z-index: 0;">Confirm</button>
    </div>
</div>
<div class="container mt-4 text-center">
    <label for="file-u" class="btn btn-dark btn-lg m-1" title="Import file">
        <img src="{{ url_for('static', filename='import.png') }}" alt="Import" draggable="false" width="25px">
        <span id="file-lbl"> Import </span>
    </label>
    <input id="file-u" type="file" onchange="setbuttontofilename()">

    <label for="file-upload" class="btn btn-dark btn-lg m-1" title="Convert file">
        <img src="{{ url_for('static', filename='submit.png') }}" alt="Convert" draggable="false" width="25px">
        <span id="file-lbl"> Convert </span>
    </label>
    <input hidden id="file-upload" id="file-u" type="button" onclick="startconvert()">
</div>
<div class="container mt-5" id="results"></div>

<footer>
    <div class="container text-center">
        <span class="text-muted"> Made by </span> 
        <a href="https://github.com/Flo-Devv">
            <strong>Flo-Devv</strong>
        </a>
        <span class="text-muted"> | Your ID: </span>
        <a href="/docs/id">
            <strong>{{session.get('uid')}}</strong>
        </a>
    </div>
</footer>

<div class="fixed-selection" onclick="$('.fixed-selection').hide()">
    <h1 id="ask_selection"> Select a langage </h1>
    <div class="selection mx-auto"></div>
</div>

<div id="loader">
    <div id="wheel-container">
        <img id="wheel" src="{{url_for('static', filename='loading.gif')}}">
    </div>
</div>
{% endblock %}